<% if @project %>
  <h2>Project: <%= @project.name %></h2>
<% end %>
<br>

<a href="/projects/<%= @project.id %>/edit">Edit Project</a>

<form action="/projects/<%= @project.id %>" method="post">
  <div class="form-group">
    <input name="_method" type="hidden" value="patch">
    <label for="title">Change project name?</label>

    <input class="form-control" id="title" name="title" placeholder="new name">
  </form-group>
  <br>
  <button class="btn">Update Project</button>
</form>
<br>

<form method="post" action="/projects/<%= @project.id %>">
  <input name="_method" type="hidden" value="delete">
  <button class="btn">Delete Project</button>
</form>
<br>

<% if @volunteers.any? %>
<h3>Volunteers for <%= @project.name %>:</h3>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <h3>There aren't any volunteers signed up yet.</h3>
<% end %>
<br>

<h3>Add a volunteer to this project:</h3>

<form action="/projects/<%= @project.id %>" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" name="name" class="form-control" type="text" placeholder="first name, last name">
  </div>
  <input id="projectid" name="projectid" type="hidden" value="<%= @project.id %>">
  <button type="submit" class="btn">Add </button>
</form>